OPENAI_API_KEY=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
MONGO_URL=mongodb://rpg:rpg123@localhost:27017/rpg_db?authSource=admin